/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* //rwd img css 可當作式css reset其中一種// */
img{
max-width:100%;
height:auto;
}
/* //全域border box// */
*,*::before,*::after{
box-sizing:border-box;
}
.container01 {
    max-width: 1085px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    /* border: solid 1px black; */
  }
.box{
    margin-top: 18px;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    white-space:nowrap;
}
.box:hover{
    color: rgba(255, 217, 94, 0.575);
    transition: .5s;

}
    
.flex{
    display: flex;
    text-align:center;
    justify-content: space-between;
   
}
.pay{   
color: white;
top: 24px;
left: 1099px;
width: 128px;
height: 40px;
background: #FF5D50 0% 0% no-repeat padding-box;
border-radius: 22px;
opacity: 1;
border: none;


}
.svg01{
    position: relative;
    z-index: -1;
    flex-direction: row-reverse;
    /* margin-left:auto; */
    float:right;
    /* margin: 0 0 1em 1em; */
    height:768px;
    /* border: solid 1px black; */
    max-width: 850px;
    height: auto;
}
.po01{
    position: absolute;
    right: 200px;
    top: 15px;
    
}
.po02{
    position: absolute;
    right:140px;
    top:118px;
    max-width: 534px;
    height: auto;
}
.top{
    position: absolute;
    right: 48px;
    top: 674px;
}
.text{
    margin-top: 276px;
    max-width: 400px;
    position: absolute;
}
.t01{
    color: #56C4C5;
    font-size: 18pt;
    font-weight: 900;
    font-family: Noto Sans TC ;
    margin-bottom: 16pt;
}
.t02{
    color: #221E1F;
    font-size: 40pt;
    font-weight: 900;
    font-family: Noto Sans TC ;
    font-family:;
    word-break: keep-all;
    margin-bottom: 16pt;
    /* position: relative; */
}
t03{
    color: #221E1F;
    font-size: 20pt;
    font-weight: 900;
    font-family: Noto Sans TC;
  

}
.svg02{
    position: absolute;
    width: 360px;
    left: -222px;
    top: 589px;
}
.title{
    text-align: center;
    margin: auto;
    font-family: normal Noto Sans TC;
    font-size: 32px;
    margin-top: 869px;
    font-weight: 900;
    margin-bottom: 48pt;
}
.flex02{
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 20pt;
    font-weight: 700;
}
p{
    font-size: 12pt;
    color: #747474;
    word-break: keep-all;
    line-height:18pt;
}
.item01{
    text-align: center;
}
.item02{
    text-align: center;
}
.item03{
    text-align: center;
}
.common{
    margin-bottom: 24pt;
}
.title02{
    text-align: center;
    margin: auto;
    font-family: normal Noto Sans TC;
    font-size: 32px;
    margin-top: 869px;
    font-weight: 900;
    margin-top: 100px;
}
h2{
    margin-top: 16pt;
    font-size: 14pt;
    text-align: center;
    color: #221E1F;
}