/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* //rwd img css 可當作式css reset其中一種// */
img{
max-width:100%;
height:auto;
}
/* //全域border box// */
*,*::before,*::after{
box-sizing:border-box;
}
.container01 {
    max-width: 1085px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    /* border: solid 1px black; */
  }
.box{
    margin-top: 18px;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    white-space:nowrap;
}
.box:hover{
    color: rgba(255, 217, 94, 0.575);
    transition: .5s;

}
    
.flex{
    display: flex;
    /* text-align:center; */
    justify-content: space-between;
   
}
.pay{   
color: white;
top: 24px;
left: 1099px;
width: 128px;
height: 40px;
background: #FF5D50 0% 0% no-repeat padding-box;
border-radius: 22px;
opacity: 1;
border: none;


}

/* svgcss */

.svg01{
    position: relative;
    z-index: -1;
    flex-direction: row-reverse;
    /* margin-left:auto; */
    float:right;
    /* margin: 0 0 1em 1em; */
    height:768px;
    /* border: solid 1px black; */
    max-width: 850px;
    height: auto;
}
/* 須修正 */
.svg02{
    position: relative;
}
.svg02{
    position: absolute;
    width: 360px;
    left: -222px;
    top: 589px;
}
/* 須修正 */
.po01{
    position: absolute;
    right: 200px;
    top: 15px;
    
}
.po02{
    position: absolute;
    right:140px;
    top:118px;
    max-width: 534px;
    height: auto;
    z-index: -1;
}
.po03{
    position: absolute;
    top: 1105px;
    right: 0%;
    z-index: -1;
    overflow:hidden;
    /* clip:rect(0px 30px 0px 0px); */
    
}
.po04{
    position: absolute;
    right: 48px;
    top: 674px;

}
.po05{
    position: absolute;
    top: 2640px;
    left: 5%;
    z-index: -1;
}

/* svg-css */




.text{
    margin-top: 276px;
    max-width: 400px;
    position: absolute;
}
.t01{
    color: #56C4C5;
    font-size: 18pt;
    font-weight: 900;
    font-family: Noto Sans TC ;
    margin-bottom: 16pt;
}
.t02{
    color: #221E1F;
    font-size: 40pt;
    font-weight: 900;
    font-family: Noto Sans TC ;
    font-family:;
    word-break: keep-all;
    margin-bottom: 16pt;
    /* position: relative; */
}
.t03{
    color: #221E1F;
    font-size: 20pt;
    font-weight: 900;
    font-family: Noto Sans TC;
  

}

.title{
    text-align: center;
    margin: auto;
    font-family: normal Noto Sans TC;
    font-size: 32px;
    margin-top: 869px;
    font-weight: 900;
    margin-bottom: 48pt;
}
.flex02{
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 20pt;
    font-weight: 700;
}
p{  
    font-size: 12pt;
    color: #747474;
    word-break: keep-all;
    line-height:18pt;
}
.item01{
    text-align: center;
}
.item02{
    text-align: center;
}
.item03{
    text-align: center;
}
.common{
    margin-bottom: 24pt;
}
.title02{
    text-align: center;
    margin: auto;
    font-family: normal Noto Sans TC;
    font-size: 32px;
    margin-top: 869px;
    font-weight: 900;
    margin-top: 100px;
}
h2{
    margin-top: 16pt;
    font-size: 14pt;
    text-align: center;
    color: #221E1F;
    margin-bottom: 48px;
}
.card{
    width: 260px;  
    height: 388px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0.1px rgb(117, 117, 117);
    /* border:solid 1px black; */
    margin-right: 11.68px;
    border-radius: 22px;
    
}
p1{
    display: block;
    font-size: 16px;
    color: #221E1F;
    text-align: center;
    word-wrap:break-word
    font-weight: 900;
    word-break: keep-all;
    line-height:18pt;
   
}
h3{
    font-size: 16px;
    color: #56C4C5;
    font-weight: 900;
    text-align: center;
    margin-bottom: 16px;
}
.img01{
    margin-bottom: 16px;
}
.flex03{
    max-width: 1084px;
    display: flex;
    /* text-align:center; */
    justify-content: space-between;
    margin-bottom: 100px;
}
h4{
    font-size: 18px;
    font-weight: 900;
    color: #221E1F;
    margin-bottom: 16pt;
    /* text-align: center; */
    
}
.card02{
    width: 230px;
    height: 280px;
    /* border:solid 1px black; */
    padding: 32px;
    margin-right: 47px;
    border-radius: 16px;
    box-shadow: 0px 0px 8px 0.1px rgb(117, 117, 117);
}
.card_section02{
    text-align: left;
    display: block;
    font-size: 16px;
    color: #221E1F;
    /* text-align: center; */
    word-wrap:break-word
    font-weight: 900;
    word-break: keep-all;
    line-height:18pt;
}
.pic01{
    margin-bottom: 16pt;
}
.flex04{
    display: flex;
    margin-bottom: 28px;
}
.title03{
    font-size: 36px;
    font-weight: 900;
    color:#221E1F;
    word-break: keep-all;
    margin-bottom: 16px;
}
.p02{
    font-size: 18px;
    word-break: keep-all;
    /* word-break: break-all; */
    /* word-break: break-word; */
    font-weight: 300;
    color: #221E1F;
    margin-bottom: 24px;
}
.pay02{
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    background-color: #56C4C5;
    border: none;
    border-radius: 20px;
}
.flex05{
    display: flex;
}
.rightsection{
    padding-top: 165px;
    /* max-height: 100%; */
    /* align-items: center; */
    /* border: solid 1px black; */

}
.card03{
    position: relative;
    width: 352px;
    height: 248px;
    box-shadow: 0px 0px 4px 0.1px #00000014;
    padding-top: 32px;
    padding-left: 32px;
    padding-top: 48px;
    padding-right: 32px;
    border-radius: 15px;
}
.avater{
    position: absolute;
    left: 0px;
    top: -60px;
    -webkit-filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.7))
}
.card03_p{
    font-size: 16px;
    /* word-break: keep-all; */
    /* word-break: break-all; */
    word-break: break-word;
    font-weight: 700;
    color: #221E1F;
    /* padding-bottom: 24px; */
    height: 121px;
    border-bottom: solid 1px black;
    margin-bottom: 24px;

    


}

.name{
    font-size: 16pt;
    font-weight: 800;
    
}
.flex06{
    display: flex;
    justify-content: space-between;
}
.star{
    /* border:solid 1px black ; */
    height: 100%;
}
.company{
    font-size: 16px;
    font-weight: 900;
    color: #221E1F;
    margin-bottom: 8px;
}
.flex07{
    display: flex;
    margin-bottom: 24px;
}

.title04{
    text-align: center;
    margin: auto;
    font-family: normal Noto Sans TC;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 104px;
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #DDDDDD;
    margin-right: 8px;

}
.circle_a{
    margin-right: 8px;
    width: 16px;
    height: 10px;
    border-radius: 35%;
    background-color: #FFD153;
    
}
.flex08{
    /* margin: auto; */
    display: flex;
    /* border: solid 1px black; */
    justify-content: center;
    margin-bottom: 100px;
    
}
.imgfooter{
    width: 100%;
    height: auto;
    z-index: -1;
}
.footer{
    position: relative;
}

.title05{
    position: absolute;
    top: 40%;
    left: 40%;
    text-align: center;
    margin: auto;
    font-family: normal Noto Sans TC;
    font-size: 32px;
    font-weight: 900;
    /* margin-bottom: 70px; */
}